/* 🌞 Day Mode */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}
body {
  background: linear-gradient(
    109.6deg,
    rgb(255, 207, 84) 11.2%,
    rgb(255, 158, 27) 91.1%
  );
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  font-size: 125%;
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.weather-card {
  background: linear-gradient(
    68.2deg,
    rgb(7, 3, 98) -0.1%,
    rgb(179, 26, 132) 47.7%,
    rgb(239, 186, 83) 100.2%
  );
  max-width: 600px;
  margin: 45px auto;
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0, 40px, 50px, rgba(0, 0, 0, 0.2);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.weather-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(7, 3, 98, 0.386);
  padding: 0, 0, 0, 5px;
}

.shecodes-logo {
  position: absolute;
  top: 10px;
  right: 40px;
  height: auto;
  max-width: 15%;
}
.search-input {
  background-color: rgb(255, 220, 132);
  border: none;
  border-radius: 6px;
  width: 80%;
  font-size: 14px;
  padding: 15px;
}

.submit-button {
  background: linear-gradient(
    to top,
    #3f51b1 0%,
    #5a55ae 13%,
    #7b5fac 25%,
    #8f6aae 38%,
    #a86aa4 50%,
    #cc6b8e 62%,
    #f18271 75%,
    #f3a469 87%,
    #f7c978 100%
  );
  padding: 15px;
  border: none;
  border-radius: 6px;
  color: white;
}
.form-input {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 10px;
  margin: 20px auto;
}

.weather-icon {
  height: 88px;
  width: 88px;
}
.weather-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.weather-info {
  display: flex;
  flex-direction: column;
}
.weather-details {
  font-size: smaller;
}
.weather-info p {
  margin: -20px 0 10px 0;
  font-weight: 100;
}
.weather-temp {
  display: flex;
  align-items: center;
  font-weight: 500;
  gap: 10px;
}
.temp-num {
  font-size: 80px;
  font-weight: 500px;
}
.temp-type {
  font-size: 30px;
  margin-top: -36px;
}

footer {
  border-top: 1px solid rgba(39, 2, 74, 0.386);
  text-align: center;
  font-size: 12px;
}
footer p {
  padding: 25px, 0, 5px, 0;
}
strong,
a {
  color: rgb(255, 158, 27);
}

a:visited {
  color: rgb(239, 186, 83);
}

/* 🌙 Night Mode*/
/* this mode will automatically apply after sundown, 
comeback later to see it in action!*/

.night-mode {
  background: linear-gradient(
    -143deg,
    rgb(21, 13, 107) 1.1%,
    rgb(188, 16, 80) 130.5%
  );
  color: black;
}

.night-mode .weather-card {
  background: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
}

.night-mode .search-input {
  background-color: rgb(21, 13, 107); /*#8f6aae;*/
}

.night-mode .search-input::placeholder {
  color: rgb(176, 172, 224);
}

.night-mode .search-input:focus {
  color: white;
}
.night-mode .submit-button {
  background: linear-gradient(
    to top,
    #fcc5e4 0%,
    #fda34b 15%,
    #ff7882 35%,
    #c8699e 52%,
    #7046aa 71%,
    #0c1db8 87%,
    #020f75 100%
  );
}

.night-mode strong,
.night-mode a {
  color: #7046aa;
}

.night-mode a:visited {
  color: #020f75;
}
